---
import FormWithLoading from "../components/contact-form/contact";
import landingEggs from "./../../public/home/landing_eggs.png";
import landingRoosters from "./../../public/home/landing_roosters.png";
import { Image } from "astro:assets";
---

<main>
  <div class="flex flex-col-reverse md:flex-col md:relative min-h-screen scroll-auto">
    <!-- Seccion slogan + imagen -->
    <div class="flex md:absolute">
      <Image
        src={landingEggs}
        class="flex w-[100%]"
        loading="lazy"
        alt="Huevos"
        fetchpriority="high"
        loading="eager"
      />
      <div
        class="flex flex-col justify-center flex-start absolute min-h-[100%] text-[8px]  px-6 sm:px-0 sm:max-w-[100%] md:max-w-[35%] md:text-xl md:ml-12"
      >
        <div class="flex items-center justify-center">
          <h2 style="color: #432918">
            <b class="text-2xl">
              Hoy es un gran día <br />
              <span style="color:red">para disfrutar</span>
            </b>
          </h2>
        </div>
        <Image
          src={landingRoosters}
          loading="lazy"
          alt="Gallos"
          fetchpriority="high"
          loading="eager"
        />
      </div>
    </div>
    <!-- Seccion formulario -->
    <div
      class="flex rounded shadow-md space-y-4 max-w-xl mx-auto bg-white p-5 md:mr-25 md:absolute md:right-0"
    >
      <FormWithLoading client:visible />
    </div>
  </div>
</main>
