<footer class="flex justify-center">
  <p id="legend">
    <span style="font-size: 22px;"
      >Entregas en La Serena, Coquimbo y Ovalle</span
    >
    <a href="mailto:hablemos@donbolva.cl" class="footer-link"
      >hablemos@donbolva.cl</a
    >
  </p>
</footer>
