<footer class="flex justify-center">
  <div class="flex py-4 px-2 text-center font-semibold">
    <span class="text-2xl"
      >Despachos en La Serena, Coquimbo y Ovalle<br /><small>Donbolva.cl 2025</small></span
    >
  </div>
</footer>
