---
import { Image } from "astro:assets";
---

<main>
  <!-- <div class="flex justify-center items-center py-10 bg-white-100">
    <Image src={background} loading="lazy" alt="Precios" fetchpriority="high" loading="eager" />
  </div> -->

  <div class="flex relative">
    <img
      src={"/home/landing_eggs.png"}
      alt="absolute"
      loading="lazy"
      alt="Huevo frito"
      fetchpriority="high"
      loading="eager"
    />
    <div class="flex items-left flex-col justify-center flex-start max-w-[40%] absolute min-h-[100%] ml-20">
      <h2>
        <b>¡Bienvenidos!</b>
      </h2>
      <p>
        ¿Sabías que lo que comes impacta tanto en tu salud como en el planeta?
        Nuestro huevos orgánicos son la elección perfecta para quiénes buscan
        calidad, sabor y un estilo de vida más consciente. Producidos con amor y
        cuidado nuevos huevos provienen de gallinas criadas en libertad,
        alimentadas con una dieta 100% natural y libre de químicos.
      </p>
    </div>
    <div class="flex flex-col flex-end max-w-[25%] absolute right-0 bottom-0 mr-25">
      <img
        src={"/home/landing_no_falten.png"}
        alt="absolute"
        loading="lazy"
        alt="Slogan"
        fetchpriority="high"
        loading="eager"
      />
      <img
        src={"/home/landing_roosters.png"}
        alt="absolute"
        loading="lazy"
        alt="Gallos"
        fetchpriority="low"
        loading="eager"
      />
    </div>
    <div class="flex flex-row flex-center min-w-[100%] max-h-[40%] absolute bottom-0">
      <img
        src={"/home/landing_grass.png"}
        alt="absolute"
        loading="lazy"
        alt="Slogan"
        fetchpriority="high"
        loading="eager"
      />
    </div>
  </div>
</main>
