---
import { Image } from "astro:assets";
import background from "../assets/donbolva_prices.jpg";
---

<main>
  <div class="flex justify-center items-center py-10 bg-gray-100">
    <Image src={background} loading="lazy" alt="Precios" fetchpriority="high" loading="eager" />
  </div>
</main>