---
import { Image } from "astro:assets";
---

<main>
  <div class="flex relative">
    <img
      src={"/home/landing_eggs.png"}
      class="flex pt-30 w-[100%]"
      loading="lazy"
      alt="Huevos"
      fetchpriority="high"
      loading="eager"
    />
    <div class="flex flex-col justify-center flex-start absolute  md:max-w-[35%] min-h-[100%] md:ml-12 sm:max-w-[100%] text-[8px] md:text-xl px-6 sm:px-0">
      <h2 style="color: #432918">
        <b>¡Bienvenidos!</b>
      </h2>
      <p style="color:#432918">
        ¿Sabías que lo que comes impacta tanto en tu salud como en el planeta?
        Nuestros huevos orgánicos son la elección perfecta para quiénes buscan
        calidad, sabor y un estilo de vida más consciente. Producidos con amor y
        cuidado, nuestros huevos provienen de gallinas criadas en libertad,
        alimentadas con una dieta 100% natural y libre de químicos.
      </p>
      <a href="/contact">
        <button style="background-color:#432918" class="mt-4 w-1/2 bg-yellow-600 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded shadow-lg transition duration-300">
          Haz tu pedido
        </button>
      </a>
    </div>
    <div class="flex flex-col flex-end max-w-[25%] absolute right-0 bottom-0 mr-25">
      <img
        src={"/home/landing_no_falten.png"}
        loading="lazy"
        alt="Slogan"
        fetchpriority="high"
        loading="eager"
      />
      <img
        src={"/home/landing_roosters.png"}
        loading="lazy"
        alt="Gallos"
        fetchpriority="high"
        loading="eager"
      />
    </div>
    <div class="flex flex-row flex-center min-w-[100%] max-h-[40%] absolute bottom-0">
      <img
        src={"/home/landing_grass.png"}
        loading="lazy min-w-[100%] max-h-[50%]"
        alt="Slogan"
        fetchpriority="high"
        loading="eager"
      />
    </div>
  </div>
</main>
