---
import { Image } from "astro:assets";
---

<main>
  <!-- <div class="flex justify-center items-center py-10 bg-white-100">
    <Image src={background} loading="lazy" alt="Precios" fetchpriority="high" loading="eager" />
  </div> -->

  <div class="flex relative">
    <img
      src={"/home/landing_eggs.png"}
      alt="absolute"
      loading="lazy"
      alt="Huevo frito"
      fetchpriority="high"
      loading="eager"
    />
    <div class="flex flex-col flex-end max-w-[25%] absolute right-0 bottom-0">
      <img
        src={"/home/landing_no_falten.png"}
        alt="absolute"
        loading="lazy"
        alt="Slogan"
        fetchpriority="high"
        loading="eager"
      />
      <img
        src={"/home/landing_roosters.png"}
        alt="absolute"
        loading="lazy"
        alt="Gallos"
        fetchpriority="low"
        loading="eager"
      />
    </div>
  </div>
</main>
