---
import landingEggs from "./../../public/home/landing_eggs.png";
import landingNoFalten from "./../../public/home/landing_no_falten.png";
import landingRoosters from "./../../public/home/landing_roosters.png";
import landingGrass from "./../../public/home/landing_grass.png";
import { Image } from "astro:assets";
---

<main class="flex relative min-h-[70dvh]">
  <Image
    src={landingEggs}
    class="max-h-[80%] md:max-h-[100%] md:min-w-[100%]"
    alt="Uno de nuestros huevos fritos, exquisita preparación"
    fetchpriority="high"
    loading="eager"
  />
  <!-- Seccion izquierda -->
  <div
    class="flex flex-col md:justify-center absolute md:max-w-[35%] min-h-[100%] md:ml-12 sm:max-w-[100%] text-xl px-6 sm:px-0"
  >
    <h1 class="text-primary">
      <b>¡Bienvenidos!</b>
    </h1>
    <p class="text-primary">
      ¿Sabías que lo que comes impacta tanto en tu salud como en el planeta?
      Nuestros huevos orgánicos son la elección perfecta para quiénes buscan
      calidad, sabor y un estilo de vida más consciente. Producidos con amor y
      cuidado, nuestros huevos provienen de gallinas criadas en libertad,
      alimentadas con una dieta 100% natural y libre de químicos.
    </p>
    <a href="/contact">
      <button
        class="mt-4 w-1/2 md:w-1/2 text-white font-bold py-2 px-4 rounded shadow-lg transition duration-300 bg-primary hover:bg-primary/80 cursor-pointer"
      >
        Haz tu pedido
      </button>
    </a>
  </div>
  <!-- Seccion derecha -->
  <div
    class="flex flex-col md:flex-end max-w-[40%] md:max-w-[25%] absolute right-0 bottom-0 mr-25"
  >
    <Image
      src={landingNoFalten}
      alt="Sloga: ¡Que no te falten huevos!"
      fetchpriority="high"
      loading="eager"
    />
    <Image
      src={landingRoosters}
      alt="Gallinas felices en el campo produciendo huevos orgánicos"
      fetchpriority="high"
      loading="eager"
    />
  </div>
  <div class="flex flex-row min-w-[100%] max-h-[40%] absolute bottom-0 justify-center">
    <Image
      src={landingGrass}
      alt="Pasto del hogar de nuestras gallinas"
      fetchpriority="high"
      loading="eager"
    />
  </div>
</main>
