---
import astroLogo from "../assets/astro.svg";
import background from "../assets/donbolva_prices.jpg";
---

<main>
  <div class="container">
    <img id="background" src={background.src} alt="" fetchpriority="high" />
  </div>
</main>

<footer>
  <p id="legend">
    <span style="font-size: 22px;">Entregas en La Serena, Coquimbo y Ovalle</span>
    <a href="mailto:hablemos@donbolva.cl" class="footer-link">hablemos@donbolva.cl</a>
  </p>
</footer>

<style>
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D9A132;
  }
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #3c3418;
    color: white;
  }
  .footer-link {
    color: #FCFCFC;
    margin: 0 15px;
    text-decoration: none;
    transition: color 0.3s;
  }

  .footer-link:hover {
      color: #fff;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #legend{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  #background {
    display: flex;
    align-items: center;
    z-index: -1;
    border: 10px solid black;
    border-radius: 12px;
    height: 85vh;
  }

  @media (max-width: 768px) {
    body {
      background-color: lightgray;
    }
  }
</style>
