<footer class="flex justify-center">
  <div class="flex py-4 px-2 text-center font-semibold">
    <span class="text-2xl">
      Huevos, miel y aceite de oliva.<br /> La Serena y Coquimbo<br /><small>
      Donbolva.cl 2025
      </small>
    </span>
  </div>
</footer>
